@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.main{
 display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.body{
    border:black solid;
    /* background-color:grey; */
    /* opacity: 0.5; */
    background-color: rgba(128, 128, 128, 0.75);
    z-index: 0;
    padding: 50px;
}

.heading{
    text-align: center;
    font-family: "Arsenal SC", sans-serif;
    font-size: 50px;
    font-weight: bold;

}
.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text label{
    font-size: 20px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text input{
    width: 50%;
    height: 50%;
    border: 2px solid black;
    margin: auto;
    padding: 10px;
}